/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 2vw;
  font-family: Lato;
}
.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
      to top right,
      rgba(126, 213, 111, 0.801),
      rgba(40, 180, 133, 0.801)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.logo-box {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}
.logo {
  height: 3vw;
}
.home-content {
  position: absolute;
  text-align: center;
  /* background-color: red; */
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  user-select: none;
  margin-bottom: 10vh;
}
.heading-primary-main {
  letter-spacing: 1.3vw;
  display: block;
  font-size: 2.5vw;
  font-weight: 700;
  animation: primary-main 1s ease-out;
}
.heading-primary-sub {
  display: block;
  font-size: 1.5vw;
  font-weight: 400;
  letter-spacing: 0.7vw;
  animation: primary-sub 1s ease-out;
}
@keyframes primary-main {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes primary-sub {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.btn:link,
.btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 200px;
  font-weight: 700;
  transition: all 0.2s;
  position: relative;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-white {
  background-color: white;
  color: #777;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s ease-in-out;
}
.btn-white::after {
  background-color: rgb(255, 255, 255);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
@keyframes btn-anim {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.btn-animated {
  animation: btn-anim 0.5s ease-out 0.7s;
  animation-fill-mode: backwards;
}
